<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <title>home page</title>
</head>
<body>
    <div class="main"> 
       <div class="titleClass"><h1>Rgisterd succesfully.</h1></div>
  <form action="/" method="POST">
    <div class="lform">
      <h2>Login here</h2>
       {{!-- <input class="em" type="email" name="email" placeholder="Enter your email"/>
       <input type="password" name="password" id="password" placeholder="Enter your password"/>
       <button type="submit" class="btn2">Submit</button>
       <p class="link">Don't have an account ?<br/>
        <a href="/register">Sign up</a> here</p> --}}
    </div>
  </form> 
  <div class="para5">
      <p>@To do app created by <br> Aditya pandey</p>
  </div>  
</div>
</body>
</html>